main {
    height: 100%;
    background-color: var(--secondary);
}

main .gameboard {
    flex-wrap: wrap;
    height: fit-content;
    margin-top: 3em;
    max-width: 1000px;
    background-color: var(--quinary);
    border: 5px solid var(--quaternary);
    border-radius: 10px;
}

main .card {
    padding: 20px 20px;
}

main img {
    height: 200px;
    width: 150px;
    border-radius: 10px;
    transition: transform 0.2s;
}

main img:hover {
    transform: scale(1.1);
}