main {
    height: 100%;
    background-color: var(--secondary);
    padding-top: 3em;
}

main .gameboard {
    flex-wrap: wrap;
    height: fit-content;
    max-width: 950px;
    background-color: var(--quinary);
    border: 5px solid var(--quaternary);
    border-radius: 10px;
}

main .flip-card {
    margin: 20px 20px;
    height: 200px;
    width: 150px;
    background-color: transparent;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 1.5s;
    transform-style: preserve-3d;
}

.flip-card-inner.is-flipped {
    transform: rotateY(180deg);
}
  
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 10px;
    box-shadow: 3px 4px 8px 0 rgba(0, 0, 0, 0.3), 3px 6px 20px 0 rgba(0, 0, 0, 0.28);
}

.flip-card-front img {
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

.flip-card-back {
    background-color: var(--primary);
    color: var(--quaternary);
    border-radius: 10px;
    transform: rotateY(180deg);
}

.gameover {
    height: fit-content;
    padding: 2em 5em;
    margin-top: 2em;
    color: var(--primary);
    background-color: var(--quinary);
    border: 4px solid var(--quaternary);
    border-radius: 10%;
}

.gameover p {
    font-size: 24px;
}

.gameover button {
    padding: 0.2em 0.5em;
    font-size: 16px;
    font-family: 'Overpass', sans-serif;
    color: var(--quinary);
    background-color: var(--primary);
    border: 2px solid var(--quaternary);
    border-radius: 5px;
}