header {
    padding: 1em 2em;
    background-color: var(--primary);
    color: var(--quinary);
    font-weight: bold;
}

header .right-section {
    margin-left: auto;
}

header p {
    margin: 0.2em 0;
}

header a {
    color: inherit;
}