.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

h1 {
  font-size: 44px;
  font-family: 'Permanent Marker', cursive;
}

h2 {
  font-size: 34px;
  font-family: 'Permanent Marker', cursive;
}

.container {
  height: inherit;
}
