:root {
  --primary: #edc8b8;
  --secondary: #ede2dc;
  --tertiary: #bbb2b5;
  --quaternary: #123d6a;
  --quinary: #ab3b61;
}

html, body, #root, #root>div {
  height: 100%
}

body {
  font-family: 'Overpass', sans-serif;
}
